package templates

func safeCategoryURL(category string) templ.SafeURL {
	if category == "all" {
		return templ.URL("/category/all")
	}
	return templ.URL("/category/" + category)
}

templ Index(models []Model, categories []string, currentCategory string) {
	@Layout("3D Model Viewer") {
		@Navbar(categories, currentCategory)
		<div class="page-layout">
			<div class="container">
				<main>
					<div id="model-grid">
						@ModelGrid(models, 5)
					</div>
				</main>
			</div>
		</div>
	}
} 
